<header class="mb-4">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Tasks</a>
        <button class="navbar-toggler" type="button" data-toggle="collapase" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <% if logged_in? %>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav navbar-brand">
                           <li class="nav-item"><%= link_to "Logout", logout_path, method: :delete %></li>
                </ul>
        </div>
        <% end %>
    </nav>
</header>